@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table">
        <tbody>
            @foreach (var item in Model.Categorie)
            {
                <tr>
                    <td>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/RoleUser/CategoriePage">
                                <h4>@Html.DisplayFor(modelItem => item.CategorieName)</h4></a>
                        </li>
                       @*  <h4>@Html.DisplayFor(modelItem => item.CategorieName)</h4> *@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
