@page
@model Snackis.Pages.RoleAdmin.Heading.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Heading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Heading.HeadingName" class="control-label"></label>
                <input asp-for="Heading.HeadingName" class="form-control" />
                <span asp-validation-for="Heading.HeadingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heading.Description" class="control-label"></label>
                <input asp-for="Heading.Description" class="form-control" />
                <span asp-validation-for="Heading.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heading.CategorieId" class="control-label"></label>
                <select asp-for="Heading.CategorieId" class ="form-control" asp-items="ViewBag.CategorieId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
