@page
@model Snackis.Pages.RoleUser.CategoriePageModel
@{
}


<div class="text-center">
    <table class="table">
        <tbody>
            @foreach (var heading in Model.Heading)
            {
                @* <a class="navbar-brand" asp-area="" asp-page="/Index"><h2>Snackis</h2></a> *@
                <tr>
                    <td>
                        <a class="text-decoration-none text-dark fw-bold" asp-page="/RoleUser/PostsViewPage" asp-route-id="@heading.Id">
                            @heading.HeadingName
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => heading.Description)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>