@page
@model Snackis.Pages.RoleUser.PostsViewPageModel
@{
}

<div class="container-sm">
<div class="row g-3">
    @if (Model.Posts != null)
    {
        @foreach (var post in Model.Posts)
        {


            <a asp-page="/RoleUser/PostPage"
               asp-route-id="@post.Id"
                class="list-group-item list-group-item-action" 
                style="text-decoration: none; color: inherit;">
                <div class="card-body" >
                    <h5 class="card-title">@post.Header</h5>
                </div>
                <p class="card-footer">@post.UserPoster</p>
                <p class="card-footer">@post.PostDate</p>
                </a>
                <br />
           
            
        }
    }
</div>
</div>