@page
@model Snackis.Pages.RoleUser.SendMsgPageModel
@{
}


<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="CommentId" value="@null" />
    <button class="toggleBtn btn btn-outline-dark" type="button">Reply</button>

    <div class="toggleBox" style="display:none; margin-top:10px; border: 1px solid #ccc; padding:10px;">
        @* <textarea asp-for="Comment.CommentText" cols="80" rows="5"></textarea> *@
        <br /> <br />
        <button type="submit" class="btn btn-outline-dark">Submit Reply</button>
    </div>
</form>