@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DI Demo</h1>
    @foreach(string text in Model.Outputs)
    {
        <h3>@text</h3>
    }
</div>
