@page
@model Snackis.Pages.RoleAdmin.AdminPageModel
@{
}

<h3>Admin Page</h3>

    <a class="nav-link text-dark" asp-area="" asp-page="RoleView">RoleViews</a>


<br /> <br />


    <a class="nav-link text-dark" asp-area="" asp-page="/RoleAdmin/Categorie/Index">Categories</a>


<br /><br />


    <a class="nav-link text-dark" asp-area="" asp-page="/RoleAdmin/Heading/Index">Headings</a>


