@page
@model Snackis.Pages.RoleAdmin.AdminPageModel
@{
}
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="RoleView">RoleViews</a>
</li>

<br /> <br />

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/RoleAdmin/Categorie/Index">Categories</a>
</li>

<br /><br />

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/RoleAdmin/Heading/Index">Headings</a>
</li>

