@page
@model Snackis.Pages.RoleAdmin.RoleViewModel
@{
}
@if (Model.IsAdmin)
{
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            @foreach (var role in Model.Roles)
            {
                <th>@role.Name</th>
            }
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                @foreach (var role in Model.Roles)
                {
                    if (await Model._userManager.IsInRoleAsync(user, role.Name))
                    {
                        <td><a href="?RemoveUserId=@user.Id&RoleName=@role.Name">Ja</a></td>
                    }
                    else
                    {
                        <td><a href="?AddUserId=@user.Id&RoleName=@role.Name">Nej</a></td>
                    }
                }



            </tr>
        }




    </table>

}
@if (Model.IsAdmin)
{
    <form method="post">
        <label for="RoleName">Ny roll</label>
        <input type="text" name="RoleName" id="RoleName" />
        <input type="submit" value="Skapa ny roll" />
    </form>
}